@import '../../styles/variables';

.project {
    background-color: $bg-color;
    color: $main-color;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  
    h1 {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }

    h2 {
      font-size: 1.4rem;
    }
  
    .description {
      font-size: 1.2rem;
      margin-bottom: 12px;
    }
  
    .challenges, .skills {
      font-size: 1rem;
      margin-bottom: 8px;
    }
  
    .links {      
      a {
        display: inline-block;
        padding: 8px 12px;
        margin-right: 8px;
        background-color: $main-color;
        color: $bg-color;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
        &:hover {
          background-color: $bg-color;
          color: $main-color;          
          box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
        }
      }
    }
  }
  