header {
    max-width: 1240px;
    margin: 45px auto 0; 
    display: flex;
    justify-content: space-between;

    img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    header {
        margin: 45px 6.94vw 0;
    }
    
}

@media screen and (max-width: 768px) {
    header {
        margin: 20px 20px 0;
    }
}