footer {
    background-color: black;
    font-size: 1.5rem;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;

    div {
        color: white;
        margin: 29px auto;
    }
}

@media screen and (max-width: 480px) {
    footer {
        font-size: 0.75rem;
        justify-content: center;

        div {
            margin: 0;
            padding-top: 8px;
            width: 134px;
            text-align: center;
        }
    }
}